:root {
  --color--Blue__Midnigt: #170055;
  --color--Marigold: #f0a202;
  --color--Black__Warm: #034748;
  --color--Blue__Light: #a8d5e2;
  --color--shadow: #a8d5e261;
  --color--Blue__ALice: #eff7ff;
  --color--White: #fcfcfc;
  --color--Blue__ALiceTwo: #f3fbff;
  --color--Sliver__Sand: #b9c0c8;
  --color--link: #0066cc;
  --font-size: 0.875rem;
  --font-size-m: 1.125rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.375rem;
  --font-size-xxl: 3.625rem;
  --mobile-font-size-m: 1.125rem;
  --mobile-font-size-l: 1.25rem;
  --mobile-font-size-xl: 2rem;
  --mobile-font-size-xxl: 2rem;
}
html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* GLOBAL */
body {
  background-color: var(--color--Blue__ALiceTwo);
}

.container__centerX {
  display: flex;
  justify-content: center;
}
.container__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  max-width: 1400px;
  width: 100%;
  padding: 0 3%;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
}
.hidden {
  display: none;
}

/* ANIMACIONES*/
@keyframes left_to_Right {
  0% {
    left: -90vw;
  }
  100% {
    left: 0;
  }
}
@keyframes right_to_Left {
  0% {
    left: 0;
  }
  100% {
    left: -105vw;
  }
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 4.3rem;
  background-color: var(--color--Blue__ALiceTwo);
  box-shadow: 0 0 5px var(--color--Sliver__Sand);
  z-index: 10;
}

header a {
  background-color: inherit;
  font-size: var(--font-size-xl);
  font-weight: 800;
  background: linear-gradient(
    90deg,
    var(--color--Blue__Midnigt) 0,
    var(--color--Blue__Midnigt) 51%,
    var(--color--Marigold) 53%,
    var(--color--Marigold) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
header a > span {
  font-weight: 900;
}
/* SECCTION HEAD */
.head {
  background-color: var(--color--White);
}
.container--head {
  height: 75vh;
  min-height: 600px;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 3%;
}
.container--head > * {
  flex-basis: 400px;
  min-width: 400px;
  flex-grow: 1;
}

.container--head h1 {
  font-size: var(--font-size-xl);
  line-height: 3rem;
  margin-bottom: 5%;
}
.container--head p {
  font-size: var(--font-size-l);
}
.container--head img {
  transform: scaleX(-1);
}

/* NAVBAR
menu-link */

.navbar {
  display: none;
  position: fixed;
  top: 4.3rem;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  text-align: center;
  /* filter: blur(4px); */
  background-color: #a8d5e261;
  backdrop-filter: blur(5px);
}
.navbar--animation__open {
  display: flex;
  animation-name: left_to_Right;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.navbar--animation__close {
  display: flex;
  animation-name: right_to_Left;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* animation-direction: reverse; */
}

.navbar ul {
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  column-gap: 1rem;
  row-gap: 1rem;
}
.navbar a {
  color: var(--color--link);
}
.navbar li {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  grid-template-columns: 180px;
  grid-template-rows: 37px;
  background-color: var(--color--Blue__ALice);
  color: var(--color--Black__Warm);
}

li svg {
  grid-column: 1/2;
  grid-row: 1/2;
}
li a {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}
li svg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  fill: none;
}
li rect {
  width: 100%;
  height: 100%;
  stroke: var(--color--Blue__Light);
  stroke-width: 3px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: 0.7s ease all;
}
li:hover rect {
  transition: 1.5s ease all;
  stroke-dashoffset: 0;
}

li:hover {
  box-shadow: 0 0 8px var(--color--Sliver__Sand);
}
li:hover a {
  color: var(--color--Marigold);
}
/*menu--icon*/
.menu--icon {
  position: fixed;
  overflow: hidden;
  top: 5.7rem;
  max-width: 64px;
  max-height: 32px;
  z-index: 15;
  display: grid;
  grid-template-columns: 32px 32px;
  grid-template-rows: 32px;
  border-radius: 4px;
  box-shadow: 0 0 4px var(--color--Blue__Light);
}
.menu--icon button {
  border-style: none;
}
.menu--icon__right,
.menu--icon__left,
.menu--icon__lock,
.menu--icon__unlock {
  cursor: pointer;
}
.menu--icon__right,
.menu--icon__left {
  backdrop-filter: blur(7px);
  background-color: #54bbd7b7;
}

.menu--icon__lock,
.menu--icon__unlock,
.menu--icon__right {
  grid-column: 1/2;
  grid-row: 1/2;
}
.menu--icon__left {
  grid-column: 2/3;
  grid-row: 1/2;
}
.menu--icon:hover .menu--icon__right {
  grid-column: 1/3;
  grid-row: 1/2;
}
.menu--icon__left:hover {
  grid-column: 1/3;
  grid-row: 1/2;
}
.menu--icon svg {
  width: 100%;
  height: 100%;
  color: var(--color--Blue__ALiceTwo);
  filter: drop-shadow(0px 0px 15px var(--color--Black__Warm));
}
.menu--icon__lock svg,
.menu--icon__unlock svg {
  color: var(--color--Blue__ALice);
}
.menu--icon:hover {
  box-shadow: -5px 2px 10px var(--color--Blue__Light);
}
.menu--icon__lock svg,
.menu--icon:hover svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 1px 10px var(--color--Black__Warm));
}

/*LEARN*/
.learn {
  height: 150vh;
}

.learn > div {
  position: sticky;
  top: 4.3rem;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 20px 0;
  background-color: var(--color--Blue__ALice);
}
.learn--subtitle {
  text-align: center;
}
.container--learn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr 1fr;
  grid-template-areas:
    "learn--subtitle "
    "learn--content"
    "learn--content"
    "learn--content"
    ".";
}
.learn--subtitle {
  grid-area: learn--subtitle;
}
.learn--content {
  grid-area: learn--content;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "learn--description learn--image";
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.learn--description {
  grid-area: learn--description;
}
.learn--image {
  grid-area: learn--image;
}
.capa__top {
  grid-column: 1/2;
  grid-row: 2/3;
  background: linear-gradient(
    to bottom,
    var(--color--Blue__ALice),
    var(--color--Blue__ALice) 40%,
    rgba(255, 255, 255, 0)
  );
  z-index: 2;
}
.capa__botton {
  grid-column: 1/2;
  grid-row: 4/5;
  background: linear-gradient(
    to top,
    var(--color--Blue__ALice),
    var(--color--Blue__ALice) 40%,
    rgba(255, 255, 255, 0)
  );
  z-index: 2;
}
.learn--content::-webkit-scrollbar {
  width: 4px;
  box-shadow: 0 1px 40px var(--color--Sliver__Sand);
}

.learn--content::-webkit-scrollbar-track {
  background: var(--color--White);
}

.learn--content::-webkit-scrollbar-thumb {
  background-color: var(--color--Black__Warm);
  border-radius: 2px;
}
.learn--card img {
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 1px 2px 28px var(--color--shadow);
}
.learn--card {
  width: 100%;
  height: 640px;
  scroll-snap-align: center;
}
.learn--card__description > * {
  display: inline-block;
  padding-bottom: 3%;
}
.learn--card__description {
  max-width: 90%;
  padding: 3% 8%;
  border-radius: 20px;
  background-color: var(--color--White);
  box-shadow: 1px 2px 28px var(--color--shadow);
}
.learn--card__description a {
  display: inline-flex;
  column-gap: 15px;
  padding: 2% 7%;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: var(--color--Blue__Midnigt);
  color: var(--color--Blue__Midnigt);
  align-items: center;
}

/*MAIN*/
main {
  background: linear-gradient(
    to bottom,
    var(--color--Blue__ALice),
    var(--color--Blue__ALice) 30px,
    rgba(255, 255, 255, 0)
  );
}
main article {
  padding-top: 5rem;
  margin-bottom: 18%;
  text-align: center;
}
main article > h2 {
  margin-bottom: 5%;
}
/*stockImage*/
.stock > div {
  margin-bottom: 3%;
}
.stock--card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}
.stockImage--card__item:hover,
.stockFont--card__item:hover,
.stockIcon--card__item:hover,
.stockMore--card__item:hover,
.modal--main article:hover {
  box-shadow: 1px 1px 24px var(--color--Sliver__Sand);
  transition: 0.5s;
}
.learn--card__description a::after,
.stockImage--card__item a::after,
.stockFont--card__item a::after,
.stockIcon--card__item a::after {
  font-family: "Material Symbols Outlined";
  content: "\e89e";
}
.stockImage--card__capa > div,
.stockIcon--card__item > div,
.stockFont--card__item > div,
.stockMore--card__item {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stockImage--card__item {
  display: grid;
  flex-basis: 200px;
  max-width: 300px;
  max-height: 300px;
  flex-grow: 1;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-radius: 20px;
  background-color: var(--color--White);
  box-shadow: 1px 2px 28px var(--color--shadow);
}

.stockImage--card__capa {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  opacity: 0;
  transition: 1.2s;
}
.stockImage--card__capa:hover {
  opacity: 80%;
}
.stockImage--card__capa > div {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: var(--color--Blue__Midnigt);
}
.stockImage--card__item h3,
.stockImage--card__item a {
  color: var(--color--Blue__ALice);
}

.stockImage--card__item a:hover {
  text-decoration: underline;
  color: var(--color--Sliver__Sand);
}
.stockImage--card__item > img {
  grid-column: 1/2;
  grid-row: 1/2;
}

/*Font*/
.stockFont--card__item {
  flex-basis: 300px;
  max-width: 400px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  padding: 1% 3%;
  border-radius: 20px;
  background-color: var(--color--White);
  box-shadow: 1px 2px 28px var(--color--shadow);
}
.stockFont--card__item > div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.stockFont--card__item > div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.stockFont--card__item a:hover {
  text-decoration: underline;
}

/*ICON*/
.stockIcon--card__item {
  flex-basis: 100px;
  max-width: 120px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 120px;
  grid-template-rows: 120px 1fr;
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--color--White);
  box-shadow: 1px 2px 28px var(--color--shadow);
}

.stockIcon--card__item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.stockIcon--card__item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.stockIcon--card__item h3 {
  display: none;
}

.stockIcon--card__item a:hover {
  text-decoration: underline;
}
/*+ Tools*/
.stockMore--card__item {
  flex-grow: 1;
  flex-basis: 500px;
  max-width: 600px;
  height: 250px;
  padding: 1% 3%;
  overflow: hidden;
  border-radius: 20px;
  row-gap: 15px;
  background-color: var(--color--White);
  box-shadow: 1px 2px 28px var(--color--shadow);
}
.stockMore--card__item:hover {
  background-color: var(--color--Blue__ALice);
  cursor: pointer;
}

.stockMore--card__item .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 48px;
}

/*Footer*/
footer {
  background-color: var(--color--Sliver__Sand);
  height: 100px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
.modal button,
.modal--main a {
  background-color: transparent;
  border-style: none;
  padding: none;
  cursor: pointer;
  font-family: "Material Symbols Outlined";
  color: var(--color--Blue__Midnigt);
  font-size: 29px;
}
.modal--section {
  width: 73%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "modalHead"
    "modalMain";
  overflow: hidden;
  background-color: var(--color--Blue__ALiceTwo);
  border-radius: 10px;
}

.modal--head {
  grid-area: modalHead;
  padding: 25px;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  background-color: var(--color--Blue__ALice);
  border-width: 0 0 1px;
  border-color: var(--color--Marigold);
  box-shadow: 0 0 18px var(--color--Blue__Midnigt);
  z-index: 10;
}

.modal--head > button::after {
  font-weight: 900;
  content: "\e5cd";
}

.modal--main {
  grid-area: modalMain;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  row-gap: 20px;
  padding: 30px 25px;
}
.modal--main article {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--color--Marigold);
  border-radius: 10px;
  background-color: var(--color--White);
  box-shadow: 1px 2px 28px var(--color--shadow);
}

.modal--main article > div {
  flex-grow: 1;
  flex-basis: 270px;
  min-height: 200px;
  padding: 25px;
  display: flex;
  justify-content: center;
  justify-content: center;
}

.modal--main article > section {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: 40px 2fr;
  padding: 25px;
  row-gap: 10px;
  flex-basis: 350px;
}
.modal--main article > h3 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.modal--main article > a {
  grid-column: 2/3;
  grid-row: 1/2;
}
.modal--main article:hover a::after {
  content: "\e89e";
  font-weight: 200;
}

.modal--main article > section > p {
  grid-column: 1/3;
  grid-row: 2/3;
}

/* MOBILE IPHONE SE*/
@media only screen and (max-width: 768px) {
}

/* TABLE IPAD AIR*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
}
@media only screen and (min-width: 768px) {
}
